---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

let title = "Pocketwatch Games | Careers";
let description = "Pog.";
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header active="careers" />

		<h1>
			<div class="wrapper">Careers</div>
		</h1>

		<section class="positions wrapper">
			<h2>Work With Us</h2>
			<p>There are currently no open positions at Pocketwatch.</p>
		</section>
		<style>
			.positions {
				font-size: 1.5em;
				padding: 50px 0;
			}
		</style>
	</body>
</html>
