---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

let title = "Pocketwatch Games | Careers";
let description = "Pog.";
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />

		<h1>
			<div class="wrapper">Careers</div>
		</h1>
	</body>
</html>
