---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

let title = "Pocketwatch Games | Contact";
let description = "Pog.";
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header active="contact" />

		<h1>
			<div class="wrapper">Contact Us</div>
		</h1>

		<div class="contact wrapper">
			<h2>Get In Touch</h2>
			<p>Email us at support@pocketwatchgames.com</p>
		</div>
		<style>
			.contact {
				padding: 50px 0;
			}
		</style>
	</body>
</html>
