<footer>
	<div class="wrapper">
		<img
			class="logo"
			height="210"
			width="210"
			src="/assets/pwg-logo-dark.svg"
			alt="Pocketwatch Games"
			loading="lazy"
		/>

		<aside>
			<ul>
				<li><a href="/games">Games</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/news">News</a></li>
				<li><a href="/careers">Careers</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
			<ul>
				<li>We're Social!</li>
				<li>
					<a href="https://www.twitch.tv/pocketwatch">
						<img
							src="/assets/icon/twitch.svg"
							width="28"
							height="30"
							alt="Twitch"
						/>
					</a>
				</li>
				<li>
					<a href="https://www.discord.gg/pocketwatch">
						<img
							src="/assets/icon/discord.svg"
							width="28"
							height="29"
							alt="Discord"
						/>
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/PocketwatchGames">
						<img
							src="/assets/icon/fb.svg"
							width="28"
							height="29"
							alt="Facebook"
						/>
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/company/pocketwatch-games">
						<img src="/assets/icon/linkedin.svg" width="28" alt="LinkedIn" />
					</a>
				</li>
				<li>
					<a href="https://twitter.com/PocketwatchG/">
						<img src="/assets/icon/twitter.svg" width="28" alt="Twitter" />
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/c/pocketwatch">
						<img src="/assets/icon/youtube.svg" width="28" alt="Youtube" />
					</a>
				</li>
			</ul>
		</aside>
	</div>
</footer>

<style>
	footer {
		background: #1a213a;
		border: 0 none;
		display: flex;
		font-family: Gilam, var(--font-body);
		margin: 0 auto;
		min-height: 100px;
		padding: 30px 0;
	}

	footer .wrapper {
		padding-left: calc(280px + 2rem);
		position: relative;
	}

	.logo {
		position: absolute;
		left: 2rem;
		bottom: -30px;
	}

	@media screen and (max-width: 1140px) {
		footer .wrapper {
			padding-left: 30px;
		}

		.logo {
			display: none;
		}
	}

	ul {
		color: var(--color-gray-300);
		display: flex;
		gap: 20px;
		list-style: none;
		padding: 0;
		text-transform: uppercase;
	}

	@media screen and (max-width: 550px) {
		ul {
			flex-wrap: wrap;
		}
	}

	ul:first-of-type {
		font-style: italic;
		gap: 40px;
		margin-bottom: 20px;
	}

	footer a {
		color: var(--color-gray-300);
	}
</style>
