<article class="presskit">
	<h4>Press Kit</h4>
	<p>Marketing assets including our logo, screenshots, and artwork.</p>
	<a href="#" class="btn">Download</a>
</article>

<style>
	.presskit {
		align-self: flex-start;
		background: var(--color-navy-light) url(/assets/swoop.svg) no-repeat right
			bottom;
		background-size: auto 75%;
		border: 1px solid #898c98;
		padding: 20px 20px 30px;
		position: relative;
	}

	article h4 {
		color: var(--color-magenta);
		font-style: 24px;
	}

	article p {
		margin-bottom: 20px;
	}
</style>
