---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "@astrojs/image/components";

export interface Props {
	content: {
		title: string;
		tags: string[];
		date: string;
		thumbnail?: string;
		thumbnailAlt?: string;
	};
}

const {
	content: { title, tags, date, thumbnail, thumbnailAlt },
} = Astro.props as Props;
---

<html>
	<head>
		<BaseHead title={title} description={title} />
	</head>

	<body>
		<Header />

		<h1>
			<div class="wrapper">{title}</div>
		</h1>

		<article class="wrapper blog content">
			{
				thumbnail && (
					<Image
						class="hero-banner"
						format="webp"
						width={1200}
						height={600}
						loading="lazy"
						src={thumbnail}
						alt={thumbnailAlt || "blog post hero banner"}
					/>
				)
			}

			<main>
				<slot />
			</main>
		</article>

		<Footer />
		<style>
			h1 {
				line-height: 200%;
				padding: 33px 0;
			}
		</style>
	</body>
</html>
